body {
    padding: 0px;
    margin: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}
#loading {

}
#not-supported {
	display:none;
}
.container {
    padding: 50px;
}
.box {
    height: 50px;
    width: 10px;
}
.red {
    background-color: Red
}

.green {
    background-color: Green
}

.blue {
    background-color: Blue
}
.loading {
	text-align: center;
	margin:0px;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: black;
	z-index: 5;
}
.loading-message {
	color:white;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
